.modal-super {
  width: 1200px;
}

.modal-sm {
  width: 335px;
}

#productList td:first-child,
#productList th:first-child,
#productList td:nth-child(9),
#productList th:nth-child(9),
#categoryList td:first-child,
#categoryList th:first-child {
  display: none;
}

#productList td:nth-child(8),
#productList th:nth-child(8) {
  width: 90px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#parent {
  overflow: auto;
}

#bestBeforeTbl {
  table-layout: fixed;
  width: 100%;
}

#bestBeforeTbl th, #bestBeforeTbl td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
}

#bestBeforeTbl input[name=bestBefore] {
  width: 120px;
}

#bestBeforeTbl input[name=bestBeforeQuant] {
  width: 80px;
}

.align-right {
  text-align: right;
}

.lessBestBefore, .equalizeBestBefore {
  padding: 0px 5px;
}

.small-width {
  width: 62px;
}
